*{
  outline: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body{
	content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	color: #ffffff;
}


h1{
	margin:10px;
}

blink {
  animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}